body{
    background-image: url("../assets/background.png");
    height: 100vh;
}

main{
    margin: 8px;
}
.logo{
    font-size: 2vw;
    color: rgb(215, 183, 215);
    padding-top: 3vh;
    margin-left: 2vw;
    background-image: url("../assets/ellipse.png");
}
.paragraph{
    width: 85vw;
    margin: 5vw;
    color: rgb(224 207 224);
}

td{
    width: 3vw;
}
.cards{
    display: flex;
    justify-content: space-around;
}

.title{
    margin-left: 4vw;
    margin-top: 16vh;
    color: rgb(141, 120, 161);
}

.accordion{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    margin: 0 20vw;
}

.accordion-button{
    background-color: #2a115c;
}

.stars1 img{
    width: 80px;
    animation: star1 8s linear infinite;
}

.stars2 img{
    width: 80px;
    animation: star2 9s linear infinite;
}

.stars3 img{
    width: 80px;
    animation: star3 9s linear infinite;
}

.stars1 {
    margin-left: 55vw;
    margin-top: 48vh;
    width: 40vw;
    position: absolute;
}

.stars2 {
    margin-left: 55vw;
    margin-top: 45vh;
    width: 32vw;
    position: absolute;
}

.stars3 {
    margin-left: 55vw;
    margin-top: -5vh;
    height: 42vh;
    width: 100px;
    position: absolute;
}

/* 
.stars2 {
    width: 22vw;
    position: absolute;
}

.stars3 {
    width: 22vw;
    position: absolute;
} */


@keyframes star1{

    0%{
        opacity: 0;
    }
    50%{
        transform: translateY(-40vh);
        opacity: .4;
    }
    75%{
        transform: translateY(-60vh);
        opacity: .65;
    }
    100%{
        transform: translateY(-80vh);
        opacity: .2;
    }
}

@keyframes star2{
    0%{
        opacity: 0;
    }
    50%{
        transform: translate(-30vw, -30vw);
        opacity: .4;
    }
    75%{
        transform: translate(-50vw, -50vw);
        opacity: .6;
    }
    100%{
        transform: translate(-75vw, -75vw);
        opacity: .1;
    }
}

@keyframes star3{
    0%{
        opacity: 0;
    }
    50%{
        transform: translateX(-40vw);
        opacity: .4;
    }
    75%{
        transform: translateX(-60vw);
        opacity: .7;
    }
    100%{
        transform: translateX(-80vw);
        opacity: .1;
    }
}

/* for first element */
.stars1 img:nth-child(1){
    animation-delay: 2s;
}

.stars1 img:nth-child(2){
    animation-delay: 5s;
}

.stars1 img:nth-child(3){
    animation-delay: 1s;
}

.stars1 img:nth-child(4){
    animation-delay: 4s;
}

.stars1 img:nth-child(5){
    animation-delay: 0s;
}

.stars1 img:nth-child(6){
    animation-delay: 5.5s;
}

.stars1 img:nth-child(7){
    animation-delay: 6.5s;
}

.stars1 img:nth-child(8){
    animation-delay: 7.5s;
}


/* For second element */
.stars2 img:nth-child(1){
    animation-delay: 0s;
}

.stars2 img:nth-child(2){
    animation-delay: 2s;
}

.stars2 img:nth-child(3){
    animation-delay: 4s;
}

.stars2 img:nth-child(4){
    animation-delay: 6s;
}

.stars2 img:nth-child(5){
    animation-delay: 8s;
}

.stars2 img:nth-child(6){
    animation-delay: 3s;
}

.stars2 img:nth-child(7){
    animation-delay: 2s;
}

.stars2 img:nth-child(8){
    animation-delay: 1s;
}


/* For third element */

.stars3 img:nth-child(1){
    animation-delay: 2s;
}

.stars3 img:nth-child(2){
    animation-delay: 6s;
}

.stars3 img:nth-child(3){
    animation-delay: 0s;
}

.stars3 img:nth-child(4){
    animation-delay: 4s;
}

.stars3 img:nth-child(5){
    animation-delay: 7.5s;
}

.stars3 img:nth-child(6){
    animation-delay: 9s;
}

.stars3 img:nth-child(7){
    animation-delay: 3s;
}

.stars3 img:nth-child(8){
    animation-delay: 5s;
}