<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iot Light Project</title>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">IoTlight</span>
      </div>
    </nav>
    <main>
      <div>

        <h2>Dashboard</h2>
        <p>Welcome to the dashboard for the IoTlight Project. 
          Here You can access the data from the database.
          To get all the data, click on the 'Get Data' button. 
          To Get only the motion data click on the 'Get Motion Data' button.
        </p>
      </div>

      <section class="cards">
        <div class="card">
          <div class="card-header">
            All data
          </div>
          <div class="card-body">
            <h5 class="card-title">Get all the data from the database.</h5>
            <p class="card-text">All data including motion and not motion.</p>
            <a routerLink="/arduino" class="btn btn-primary" (click)="getSerialData()">Get Data</a>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Motion data
          </div>
          <div class="card-body">
            <h5 class="card-title">Get Motion Data</h5>
            <p class="card-text">All motion data: time at which motion in detected. </p>
            <a routerLink="/motion" class="btn btn-primary" (click)="getMotionData()">Get Motion Data</a>
          </div>
        </div>
      </section>
    </main>
    <router-outlet></router-outlet>
  </body>
</html>